@tailwind base;
@tailwind components;
@tailwind utilities;

$orange: #f48023;
$gray: #eaeaea;
$blue: #3b82f6;

// header

.header {
	height: 84px;
	display: flex;
	justify-content: space-around;
	align-items: center;

	& > * {
		display: flex;
		align-items: center;
	}
	h1 {
		margin-left: 15px;
		span {
			font-weight: bold;
			&:first-child {
				color: $orange;
			}
		}
	}

	&__title {
		font-family: "Roboto";
		color: #808080;
		font-weight: 900;
		font-size: 16px;
		* {
			color: black;
		}
	}
   &__burger {
      display: none;
   }
	&__auth {
		.btn__login {
			padding: 12px 20px;
			border-radius: 5px;
			background-color: $gray;
			color: $blue;
			font-weight: bold;
		}
		.btn__register {
			margin-right: 19px;
			align-items: center;
			justify-content: center;
			display: flex;
			border-radius: 5px;
			background-color: $orange;
			padding: 12px 20px;
			span {
				margin-left: 12px;
				font-weight: bold;
				color: #fff;
			}
		}
	}
}

@media(max-width: 768px) {
   .header__auth {
      display: none;
   }
   .header__burger {
      display: block;
   }
}

// header


// main

.main__wrapper, .auth__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.auth__wrapper {
	flex-direction: row;
   
}
.auth__wrapper .inner__wrapper {
   display:flex;
}

@media(max-width: 768px) {
   .main__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      // flex-direction: column;
   }
   .auth__image {
      display: none;
   }
   .inner__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   }
   .question__wrapper {
      width: 80%;
      &>div {
         width: 100%;
      }
   }
      .question__title {
         width: 100%;
      }
      .question__description {
         width: 100%;
      }
      
      .question__stats {
         display: none;
      }
}
// main



// question filters
.selectable {
   transition: .3s ease all;
   &:not(.selected):hover {
      box-shadow: 2px 1px 5px 7px rgba(22,130,253,0.75);
   }
}
.selected {
   background-color: $blue;
   * {
      filter: brightness(0) saturate(100%) invert(100%) sepia(96%) saturate(0%) hue-rotate(142deg) brightness(105%) contrast(107%);
      color: #fff;
   }
}
.firstIcon {
   filter: brightness(0) saturate(100%) invert(52%) sepia(0%) saturate(3207%) hue-rotate(133deg) brightness(101%) contrast(88%);
}
// question filters
