@tailwind base;
@tailwind components;
@tailwind utilities;

$orange: #f48023;
$gray: #eaeaea;
$blue: #3b82f6;

// header

.header {
	height: 84px;
	display: flex;
	justify-content: space-around;
	align-items: center;

	& > * {
		display: flex;
		align-items: center;
	}
	h1 {
		margin-left: 15px;
		span {
			font-weight: bold;
			&:first-child {
				color: $orange;
			}
		}
	}

	&__title {
		font-family: "Roboto";
		color: #808080;
		font-weight: 900;
		font-size: 16px;
		* {
			color: black;
		}
	}
   &__burger {
      display: none;
   }
	&__auth {
		.btn__login {
			padding: 12px 21px;
			border-radius: 5px;
			background-color: $gray;
			color: $blue;
			font-weight: bold;
		}
		.btn__register {
			margin-right: 19px;
			align-items: center;
			justify-content: center;
			display: flex;
			border-radius: 5px;
			background-color: $orange;
			padding: 12px 21px;
			span {
				margin-left: 12px;
				font-weight: bold;
				color: #fff;
			}
		}
	}
}

@media(max-width: 768px) {
   .header__auth {
      display: none;
   }
   .header__burger {
      display: block;
   }
}

// header


// main

.main__wrapper, .auth__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.auth__wrapper {
	flex-direction: row;
   
}
.auth__wrapper .inner__wrapper {
   display: flex;
}

@media(max-width: 768px) {
   .main__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      // flex-direction: column;
   }
   .auth__image {
      display: none;
   }
   .inner__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   }
   .question__wrapper {
      width: 80%;
      &>div {
         width: 100%;
      }
   }
      .question__title {
         width: 100%;
      }
      .question__description {
         width: 100%;
      }      
      .question__stats {
         display: none;
      }
}


@media(max-width: 550px) {
   
}

// main



// question filters
.selectable {
   transition: .3s ease all;
   &:not(.selected):hover {
      box-shadow: 2px 1px 5px 7px rgba(22,130,253,0.75);
   }
}
.selected {
   background-color: $blue;
   * {
      filter: brightness(0) saturate(100%) invert(100%) sepia(96%) saturate(0%) hue-rotate(142deg) brightness(105%) contrast(107%);
      color: #fff;
   }
}
.firstIcon {
   filter: brightness(0) saturate(100%) invert(52%) sepia(0%) saturate(3207%) hue-rotate(133deg) brightness(101%) contrast(88%);
}
// question filters


// question page
.user__info {
   display: flex;
   margin-bottom: 21px;
   
}
.user__name {
   margin-left: 15px;
   .name {
      font-weight: bold;
      margin-bottom: 5px;
   }
   .time {
      color: #808080;
   }
}

.question__info {
   .question__title {
      font-size: 18px;
      margin-bottom: 21px;
      font-weight: bold;

   }
}
.question__answers {
   margin-top: 21px;
}
.question__answer {
   margin-bottom: 21px;
   box-shadow: 15px 11px 5px -6px rgba(0,0,0,0.61);
   border-left: 3px solid orange;
   padding-bottom: 21px;
   padding-left: 41px;
   &:last-child {
      margin-bottom: 0px;
   }
}

@media(max-width: 600px) {
   .question__answer {
      // margin: 0px 15px;
      margin-bottom: 21px;
   }
   .quesiton__wrapper {
      padding: 0px 15px;
   }
}
// question page

// question answers

.answer__user {
   display: flex;
   
}
.au__info {
   margin-left: 15px;
   margin-bottom: 21px;
}
.au__name {
   font-weight: bold; 
}   

.au__online {
   color: #808080;
}

.answer__content {
   margin-bottom: 11px;
}
.answer__rates {
   display: flex;
   &>.likes {
      margin-right: 21px;
   }
}

.likes, .dislikes {
   display: flex;
   align-items: center;
   &__image {
      margin-right: 5px;
   }
}

// question answer form


.question__answer__form {
   margin: 21px 0px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   
   width: 100%;
   form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      input {
         display: block;
         width: 100%;
         padding: 15px 0px;
         background: #eaeaea;
         &:placeholder-shown {
            padding-left: 15px;
            border-radius: 5px;
         }
      }
   }
}

.answer__form__buttons {
   margin-top: 11px;
   width: 100%;
   display: flex;
   justify-content: flex-end; 
   align-items: center;
   
   button {
      &:first-child {
         margin-right: 11px;
         background: #f48023;
         color: #fff;
         border-radius: 5px;
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 12px 21px;
      }
      &:last-child {
         padding: 12px 21px;
			border-radius: 5px;
			background-color: $gray;
			color: $blue;
			font-weight: bold;
      }
   }
}

.question__answer__heading {
   color: #808080;
   font-weight: bold;
   font-size: 16px;
   margin-bottom: 21px;
}
